version: '3.9'
services:
  web:
    build: ./
    command: gunicorn swipe.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./:/usr/src/swipe/
      - static_volume:/home/web/staticfiles
    expose:
      - 8000
    env_file:
      - .docker.env
    depends_on:
      - db
  db:
    image: postgres:latest
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .docker.env
  nginx:
    build: ./nginx
    ports:
      - "80:80"
    depends_on:
      - web
    volumes:
    - static_volume:/home/web/staticfiles
volumes:
  postgres_data:
  static_volume: