asgiref
CacheControl
cachetools
certifi
cffi
chardet
charset-normalizer
coreapi
coreschema
cryptography
defusedxml
Deprecated
Django
django-filter
django-phonenumber-field
django-solo
django-templated-mail
djangorestframework
djangorestframework-jwt
djangorestframework-simplejwt
drf-firebase-token-auth
drf-yasg
firebase-admin
gcloud
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
gunicorn
httplib2
idna
importlib-metadata
inflection
install
itypes
Jinja2
jwcrypto
Markdown
MarkupSafe
msgpack
oauth2client
oauthlib
packaging
Pillow
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1-modules
pycparser
pycryptodome
PyJWT
pyotp
pyparsing
Pyrebase4
python-jwt
python3-openid
pytz
requests
requests-oauthlib
requests-toolbelt
rest-firebase-auth
rsa
ruamel.yaml
ruamel.yaml.clib
six
social-auth-app-django
social-auth-core
sqlparse
twilio
uritemplate
urllib3
wrapt
zipp
